@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Macondo&family=Merriweather+Sans:ital,wght@1,800&family=Open+Sans:ital,wght@1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Macondo&display=swap');


body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.banner {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}